/* @font-face {
  font-family: 'Neue Haas';
  src: url(./NeueHaasDisplayThin.ttf);
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  font-family: Neue Haas Grotesk Display Pro;
} 

html,body{
  height: 100%;
  width: 100%;
}

nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5vw 7vw;
  /* background-color: red; */
  height: 13vh;
  z-index: 9;
  background-color: #111;
}

.nav-pt2{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 60%;
  padding: 1vw 0 0 0;
  z-index: 9;
}

.nav-pt2 h4{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8vw;
  margin-bottom: 3vh;
}

.nav-pt2-pane h5{
  margin-bottom: 2vh;
  font-weight: 400;
  font-size: 0.8vw;
  display: none;
  /* background-color: red; */
  overflow: hidden;
}

.nav-pt2-pane h5 span{ 
  display: inline-block;
  transform: translateY(25px);
}

.nav-pt3 button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  width: 10vw;
  height: 3vw;
  background: transparent;
  position: relative;
  border: none;
  outline: none;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer;
}

.button-clr-div{
  background-color: #0DA34E;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  z-index: -1;
  transition: all ease 0.3s;
}

.nav-pt3 button:hover .button-clr-div{
  width: 3vw;
  height: 3vw;
  border-radius: 50%;

}

.nav-pt3 button h4{
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-pt3 button svg{
  height: 1vw;
}

.nav-bottom{
  background-color: #111;
  height: 0;
  width: 86%;
  position: absolute;
  top: 100%;
  border-bottom: 1px solid #dadada;
}

.page1{
  height: 120vh;
  width: 100%;
  background-color: #111;
  z-index: 8;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7vw;
}

.page1 h1:nth-child(1){
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1 h1 span{
  background-color: #0DA34E;
  border-radius: 50%;
  height: 7vw;
  width: 7vw;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.5s;
}

.page1 svg{
  height: 6.5vw;
  width: 6.5vw;
  transition: all ease 0.5s;
}

.page1 .svg-cont{
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.page1 span:hover svg{
  transform: rotate(-30deg);
  height: 10vw;
  width: 10vw;
}

.page1 span:hover{
  height: 5.5vw;
  width: 5.5vw;
}

.page1 h1{
  font-size: 9vw;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 9vw;
  letter-spacing: 0vw;
}

.page1 p{
  margin-top: 2vw;
  text-align: center;
  font-size: 1.25vw;
  line-height: 2vw;
}

.page1 p span{
  border: 1px solid #dadada;
  padding: 5px 10px;
  border-radius: 50px;
}

.page1-anim{
  position: absolute;
  bottom: 0;
  width: 45%;
  overflow: hidden;
  /* background-color: red; */
  white-space: nowrap;
}

.page1-anim .anim{
  display: inline-block;
  animation: page1-move 15s linear infinite;
}

.page1-anim .anim img{
  margin-left: 2vw;
}

@keyframes page1-move{
   0%{
    transform: translateX(0);
   }
   100%{
    transform: translateX(-100%);
   }
}

.blur-left{
  height: 100%;
  width: 20%;
  background: linear-gradient(to left, transparent ,#111);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.blur-right{
  height: 100%;
  width: 20%;
  background: linear-gradient(to left, #111, transparent);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.page2{
  height: 120vh;
  width: 100%;
  background-color: #111;
  padding: 8vw 7vw 0 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page2-left,.page2-right{
  border-top: 0.5px solid #5f5f5f;
  height: 83%;
  width: 100%;
}

.page2-left{
  /* background-color: yellow; */
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw 0 0 0;
}

.page2-left h6{
  font-size: 1vw;
  font-weight: 400;
}

.page2-left p{
  font-size: 1.35vw;
  width: 60%;
  font-weight: 500;
}

.pg2-right-pt{
  padding: 2vw 0 4vw 0;
  border-bottom: 1px solid #5f5f5f;
  position: relative;
  cursor: pointer;
}

.pg2-right-content{
  display: flex;
  justify-content: space-between;
}

.pg2-right-content i{
  font-size: 1.25vw;
  position: relative;
}

.pg2-right-content-icons{
  position: relative;
  /* background-color: red; */
  height: 1.25vw;
  width: 1.25vw;
  overflow: hidden;

}

.pg2-right-content-icons i:nth-child(1){
  position: absolute;
  top: 80%;
  right: 80%;
  /* background-color: violet; */
}

.pg2-right-content-icons i:nth-child(2){
  position: absolute;
  top: 0;
  right: 0;
}


.page2-right :nth-child(4){
  /* background-color: red; */
  border: none;
}

.page2-right h3{
  font-weight: 500;
  font-size: 1.75vw;
  width: 60%;
}

.page2-right img{
  height: 7vw;
  width: 7vw;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  scale: 0.5;
  opacity: 0;
}

.page3{
  height: 100vh;
  width: 100%;
  background-image: url("./384fbdd3-7861-4968-b35a-59b3b150df48.webp");
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.p3-play-vid{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5vw;
}

.p3-play-vid .icon{
  background-color: #fff;
  padding: 4vw;
  border-radius: 50%;
}

.p3-play-vid i{
  color: black;
  font-size: 3vw;
}

.p3-play-vid h5{
  color: #111;
  background-color: #fff;
  padding: 0.5vw;
  text-transform: uppercase;
  border-radius: 50px;
  transform: translateY(8px);
  opacity: 0;
  transition: all ease 0.5s;
}

.p3-play-vid:hover h5{
  opacity: 1;
  transform: translateY(0);
}

.page3 video{
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 99999;
  top: 0;
  object-fit: cover;
  transform: scaleX(80%) scaleY(20%);
  opacity: 0;
  display: none;
}

.page4{
  height: 100vh;
  width: 100%;
  /* background-color: blue; */
  display: flex;
}

.p4-left{
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  padding: 5vw;
}

.p4-left h3{
  font-size: 3vw;
  color: #111;
  font-weight: 600;
  width: 60%;
}
.p4-right{
  width: 100%;
  height: 100%;
  padding: 5vw 0;
  /* background-color: green; */
}

.p4-elem{
  margin-bottom: 2vw;
}

.p4-elem h5{
  color: #b9b9b9;
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 500;
}

.p4-elem p{
  color: #111;
  width: 85%;
  margin-top: 2vw;
  font-size: 1.75vw;
}

.page5{
  height: 150vh;
  width: 100%;
  /* background-color: yellow; */
}

.pg5-pt1{
  height: 66%;
  width: 100%;
  /* background-color: yellowgreen; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  flex-wrap: wrap;
  padding: 2vw 4vw;
}

.pg5-pt1-pane{
  height: 47%;
  width: 29.5vw;
  background-color: #F5F5F5;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pg5-pt1-pane h1{
  font-weight: 500;
  font-size: 5vw;
  color: #111;
}

.pg5-pt1-pane p{
  font-weight: 500;
  color: #111;
  margin-top: 2vw;
}

.pg5-pt1-pane h6{
  color: #afafaf;
  font-weight: 500;
  font-size: 1vw;
}

.pg5-pt2 .para{
  padding-top: 7vw;
  padding-left: 32vw;
  padding-right: 10vw;
  margin-bottom: 5vw;
  /* background-color: #0DA34E; */
}

.pg5-pt2 h6{
  color: #111;
  font-weight: 400;
  font-size: 1vw;
  /* background-color: yellow; */
  height: 5vw;
  float: left;
  margin-right: 10vw;
}

.pg5-pt2 p{
  color: #111;
  font-size: 2.35vw;
  width: 100%;
}

.page6{
  height: 200vh;
  width: 100%;
  /* background-color: yellowgreen; */
}

.pg6-elem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  height: 50%;
  width: 100%;
}

.pg6-elem-left{
  /* background-color: red; */
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vw 0;
  height: 70vh;
  gap: 1vw;
  border-top: 1px solid #dadada;
}

#pg6-temp{
  padding-bottom: 10vw;
}

.pg6-elem-left h2{
  color: #111;
  font-weight: 500;
  font-size: 2.5vw;
}

.pg6-elem-left p{
  color: #111;
  font-size: 1.35vw;
}

.pg6-elem-left button{
  background-color: #4F5BFF;
  outline: none;
  border: none;
  width: 15vw;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1vw 2vw;
  border-radius: 25px;
}

.pg6-elem-right{
  /* background-color: aqua; */
  width: 70%;
  height: 70vh;
  position: relative;
  
}

.pg6-elem-right img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
}

.pg6-elem-right video{
  transition: all ease 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  display: none;
}

.page7{
  display: flex;
  height: 100vh;
  /* background-color: green; */
  width: 100%;
  gap: 6vw;
  padding: 4vw 5vw 0 5vw;
  
}

.pg7-left{
  width: 25%;
  height: 100%;
}

.pg7-right{
  width: 75%;
  height: 100%;
  display: flex;
  gap: 5vw;
  /* background-color: red; */
}

.pg7-right-pane{
  width: 30vw;
  padding: 2vw 0;
  border-top: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  gap: 4vw;
  transition: all ease 0.25s;
  position: relative;
  height: 100%;
  /* background-color: yellow; */
  
  
}

.pg7-right-pane h3{
  color: #111;
  font-weight: 500;
  font-size: 2.75vw;
}

.pg7-right-pane p{
   color: #111;
   font-size: 1.30vw;
   /* width: 75%; */
}

.pg7-info{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  transition: all ease 0.25s;
}

.pg7-icons{
  display: flex;
  gap: 1vw;
}

.pg7-media{
  /* background-color: red; */
  height: 20vw;
  position: absolute;
  bottom: 0;
  width: 30vw;
  transition: all ease 0.4s;
}

.pg7-media img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pg7-media video{
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  display: none;
  opacity: 0;
}

.pg7-right-pane:hover{
  border-top: 2px solid #000;
}

.pg7-right-pane:hover .pg7-info{
  opacity: 0;
  /* display: none; */
}

.pg7-right-pane:hover .pg7-media{
  height: 30vw;
}

.blackDiv{
  background-color: #111;
  min-height: 100vh;
  padding: 0 5vw;

  margin-top: 10vw;
}

.page8{
  height: 50vh;
  border-bottom: 1px solid #9e9e9e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page8 h2{
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-weight: 600;
}

.page9{
  width: 100%;
  display: flex;
  padding: 5vw 0;
}

.pg9-left{
  width: 30%;
  padding-left: 2vw;
  /* background-color: red; */
}

.pg9-left button{
  padding: 1.5vw 5vw;
  background-color: #0DA34E;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 600;
  position: sticky;
  top: 20%;
}

.pg9-right{
  width: 70%;
  /* background-color: blue; */
}

.pg9-right h6{
  float: left;
  /* background-color: yellow; */
  height: 3vw;
  width: 35%;
  font-size: 1vw;
  font-weight: 500;
}

.pg9-right p{
  font-size: 2.25vw;
  margin-bottom: 3vw;
  font-weight: 600;
}

.pg9-elems details{
  border-top: 1px solid #5f5f5f;
  padding: 1.5vw 0;
}

.pg9-elems details summary{
  cursor: pointer;
}

.pg9-elems details summary::marker{
  content: "";
  display: none;
}

.pg9-elems details summary h3{
  font-size: 3.25vw;
  font-weight: 600;
  margin-bottom: 2vw;

}

.pg9-elems details summary a{
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.5vw;
  border-radius: 20px;
  text-transform: uppercase;
}

.pg9-elems .content{
  /* background-color: red; */
  margin-top: 4vw;
}

.pg9-content-pane{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #9e9e9e;
  padding: 1vw 0;
}

.pg9-content-pane h4{
  font-size: 2vw;
  width: 20%;
  /* background-color: yellow; */
  font-weight: 500;
}

.pg9-content-pane p{
  font-size: 0.9vw;
  width: 50%;
}

.pg9-content-pane i{
  font-size: 1vw;
  width: 10%;
  text-align: right;
}

.page10{
  margin-top: 3vw;
  border-top: 1px solid #5f5f5f;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vw;
  padding-top: 5vw;
}

.page10 h5{
  text-align: center;
  font-weight: 600;
  font-size: 1vw;
}

.page10>p{
  font-size: 2.25vw;
  text-align: center;
  width: 65%;
}

.pg10-pane-container{
  display: flex;
  gap: 1vw;
  padding-left: 2vw ;
  flex-wrap: wrap;
}

.page10 .pane{
  background-color: #1F1F1F;
  height: 17vw;
  width: 27.5vw;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.page10 .pane h4{
  font-size: 2vw;
  font-weight: 500;
}

.page10 button{
  background-color: #0DA34E;
  border: none;
  outline: none;
  border-radius: 50%;
  height: 10vw;
  width: 10vw;
  padding: 0 2vw;
  margin-bottom: 7vw;
}

.page10 button i{
  /* text-align: right; */
  width: 100%;
  display: flex;
  justify-content: end;
  height: 50%;
  /* background-color: yellow; */
}
.page10 button h2{
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1vw;
  text-align: left;
  width: 100%;
  /* background-color: rebeccapurple; */
}

.pg10-pane-top{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.page11{
  width: 100%;
  min-height: 100vh;
  padding: 0 5vw;
}

.pg11-pt1{
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10vw 0 12vw 3vw;
  /* background-color: red; */
}


.page11 h1{
  /* background-color: yellow; */
  width: 100%;
  display: flex;
  border-bottom: 1px solid #acacacb9;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 6vw;
  letter-spacing: -3px;
  line-height: 6vw;
  font-family: sans-serif;
  padding: 5vw 0;
}


.pg11-pt2{
  /* background-color: gray; */
  height: 65vh;
  width: 100%;
  display: flex;
  padding: 2vw 2vw;
  gap: 9vw;
  border-bottom: 1px solid #acacacb9;
}

.pg11-pt2 button{
  width: 18vw;
  height: 4vw;
  background-color: #4F5BFF;
  border: none;
  outline: none;
  font-size: 1.45vw;
  text-transform: uppercase;
  border-radius: 100px;
  position: sticky;
  top: 20%;
}

.pg11-pt2 button h6{
  font-weight: 600;

}

.pg11-pt2-content{
  /* background-color: purple; */
  width: 60%;
}

.pg11-pt2-left{
  /* background-color: green; */
  width: 22%;
  display: flex;
  justify-content: flex-end;
}
.pg11-pt2-right{
  /* background-color: yellow; */
  width: 78%;
}
.pg11-pt2-right p{
  color: #000;
  font-size: 1.5vw;
}

.pg11-pt2-right p:nth-child(2){
  /* background-color: rebeccapurple; */
  margin-top: 5vw;
}


.pg11-pt3{
  height: 50vh;
  display: flex;
}

.pg11-pt3-pane{
  height: 85%;
  padding: 1.5vw 0.5vw;
}

.pg11-pt3-pane1{
  width: 29%;
  /* background-color: red; */
  border-right: 1px solid #9e9e9ea9;
}
.pg11-pt3-pane2{
  width: 23%;
  /* background-color: red; */
  border-right: 1px solid #9e9e9ea9;
}
.pg11-pt3-pane3{
  width: 18%;
  /* background-color: red; */
  border-right: 1px solid #9e9e9ea9;
}
.pg11-pt3-pane4{
  width: 17%;
  /* background-color: red; */
  border-right: 1px solid #9e9e9ea9;
}

.pg11-pt3-pane h4{
  color: #000000bb;
  font-weight: 600;
  margin-bottom: 2vw;
}
.pg11-pt3-pane h3{
  background-color: #000;
  /* color: #000000bb; */
  margin-top: 0.15vw;
  width: 13vw;
  padding: 0.65vw;
  border-radius: 50px;
  font-weight: 500;
  font-size: 0.85vw;
  display: flex;
  align-items: center;
  gap: 0.75vw;
}

.pg11-pt3-pane h3:nth-child(2){
  transform: translateX(10%);
}
.pg11-pt3-pane h3:nth-child(3){
  transform: translateX(20%);
}
.pg11-pt3-pane h3:nth-child(4){
  transform: translateX(30%);
}
.pg11-pt3-pane h3:nth-child(5){
  transform: translateX(40%);
}
.pg11-pt3-pane h3:nth-child(6){
  transform: translateX(50%);
}

.pg11-pt3-pane h3:nth-child(7){
  transform: translateX(60%);
}


.pg11-pt3-pane h3 span{
  background-color: #ffffff46;
  display: block;
  height: 1.25vw;
  width: 1.25vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


.page12{
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding-top: 5vw; ;
}

.pg12-left{
  height: 100%;
  width: 50%;
  /* background-color: red; */
  padding: 4vw 2vw;
  position: sticky;
  top: 15%;
}

.pg12-left h6{
  font-weight: 500;
  font-size: 1vw;
}

.pg12-left h2{
  margin-top: 3vw;
  font-weight: 600;
  font-size: 3.25vw;
  width: 90%;
  margin-bottom: 5vw;
}

.pg12-left p{
  width: 55%;
}

.pg12-right{
    /* background-color: green; */
    width: 50%;
    padding: 4vw 0;
}
  
.pg12-right-review{    
  border-top: 1px solid #94949481;
  padding: 2vw 0;
  display: flex;
  flex-direction: column;
  gap: 3.25vw;
}

.pg12-right-review p{
  font-size: 1.75vw;
}

.page12 img{
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 50%;
}

.page12 .review-profile{
  display: flex;
  align-items: center;
  gap: 1.25vw;
  margin-top: 2vw;
}

.review-profile-name{
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.review-profile-name h3{
  font-size: 1.25vw;
  font-weight: 500;
}

.review-profile-name h5{
  font-size: 0.85vw;
  font-weight: 500;
}

.page14{
  min-height: 100vh;
  width: 100%;
  /* background-color: red; */
  padding: 1vw 2vw;
}

.pg14-pt1{
  display: flex;
  border-top: 1px solid #94949481;
  padding-top: 3vw;
  padding-bottom: 4vw;
  border-bottom: 1px solid #94949481;
}

.pg14-pt1-left{
  width: 50%;
  /* background-color: rebeccapurple; */

}

.pg14-pt1-left h1{
  font-size: 4.5vw;
  line-height: 4.5vw;
  font-weight: 600;
}

.pg14-pt2{
  display: flex;
  padding-top: 2vw;
  justify-content: space-between;
  border-bottom: 1px solid #94949481;
  padding-bottom: 4vw;
}

.pg14-pt2-left{
  display: flex;
  gap: 2vw;
}

.pg14-pt2-left h4{
  color: #666;
  font-size: 0.9vw;
  font-weight: 600;
  text-transform: uppercase;
}

.pg14-pt2-left h5{
  margin-top: 1vw;
  font-size: 0.9vw;
  font-weight: 500;
}

.pg14-pt2-right{
  /* background-color: red; */
  width: 30%;
}

.pg14-pt2-right h6{
  color: #666;
  font-size: 0.9vw;
  font-weight: 600;
  text-transform: uppercase;
}

.pg14-pt2-right h3{
  font-weight: 500;
  font-size: 2.55vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
}

.pg14-pt2-right ul{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vw;
}


.pg14-pt2-right a{
  text-decoration: none;
}

.pg14-pt2-links{
  width: 85%;
  padding-left: 1vw;
}

.pg14-pt3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
}


.pg14-pt3 h5{
  font-size: 1vw;
  font-weight: 500;
}